@layer reset, theme, transitions, layout, pages, components;

/*@import url('uses/anim.css') layer(transitions);
@import url('uses/grid.css') layer(layout);
@import url('uses/info.css') layer(components);*/

@layer theme {
  :root {

    --background: #16161b;
    --shadow: #18181a;
    --foreground: white;
  }
}

@layer reset {

  * {
    box-sizing: border-box;
  }

}

@layer layout {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: var(--foreground);
    padding: 20px;
    background-color: var(--background);
  }

  ghp-router {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    box-sizing: border-box;
  }

  menu { /* panner */
    width: 100dvw;
    height: 100dvh;

    margin-inline: 10% 90%;
    margin-block: 10%;
    /*position: absolute;*/

    transform-origin: 50% 50%;

  }

}




/*@media (pointer:none),
(pointer:coarse) {

  .panner {
    all: unset;
  }

  .grid-container {
    column-count: 1;
    display: block;
    transform: revert;
    transform-origin: revert;
    border: 1px solid white;
    border-bottom: unset;
  }

  .grid-item {
    border-bottom: 1px solid white;

  }

  ghp-router {
    all: unset;
    position: relative;
  }

  main {
    background-color: var(--background);
    border-top: 1px solid white;
    width: 100dvw;
    left: 0;
    padding-left: 2rem;
    padding-bottom: 1rem;
    bottom: 0rem;
  }
}*/