/*@view-transition {
  navigation: auto;
}*/

@layer transitions {
  main {
    view-transition-name: main-content;

    h1 {
      view-transition-name: page-heading;
    }

    p {
      view-transition-name: page-section;
    }
  }

  @keyframes page-enter {
    from {
      transform: translate(-16rem, 0);
    }

    to {
      transform: translate(0, 0);
    }
  }

  @keyframes page-exit {
    from {
      transform: translate(0, 0);
    }

    to {
      transform: translate(0, 16rem);
    }
  }

  ::view-transition-old(page-heading) {
    animation: 0.6s 0.075s ease both page-exit;
  }

  ::view-transition-new(page-heading) {
    animation: 0.6s 0.0s ease both page-enter;
  }

  ::view-transition-old(page-section) {
    animation: 0.6s ease both page-exit;
  }

  ::view-transition-new(page-section) {
    animation: 0.6s 0.075s ease both page-enter;
  }
}