@layer transitions {

  ::view-transition-group(disabled),
  ::view-transition-old(disabled),
  ::view-transition-new(disabled) {
    animation-duration: 0s!important;
  }

  main {
    view-transition-name: main-content;

    h1 {
      view-transition-name: page-heading;
    }

    p {
      view-transition-name: page-section;
    }
  }

  ::view-transition-old(page-heading) {
    animation: 0.4s 0.075s ease both main-exit;
  }

  ::view-transition-new(page-heading) {
    animation: 0.4s 0.0s ease both main-enter;
  }

  ::view-transition-old(page-section) {
    animation: 0.4s ease both main-exit;
  }

  ::view-transition-new(page-section) {
    animation: 0.4s 0.075s ease both main-enter;
  }

  @keyframes main-enter {
    from {
      transform: translate(-16rem, 0);
    }

    to {
      transform: translate(0, 0);
    }
  }

  @keyframes main-exit {
    from {
      transform: translate(0, 0);
    }

    to {
      transform: translate(0, 16rem);
    }
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translate(0.5rem, -0.5rem);
    }

    50% {
      transform: translate(0rem, 0rem);
    }
  }

}